html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

.rdrInputRanges{
  display: none!important;
}

@media only screen and (max-width:650px) {
  .rdrDateRangePickerWrapper{
    flex-direction:column;
  }
  .rdrDefinedRangesWrapper{
    margin-bottom: 1rem;
  }
}

.rdrCalendarWrapper,.rdrDateRangeWrapper{
  border-radius: 7.5px;
}